body {
  margin: 0em 1em 0em 1em;
}

nav {
  margin-bottom: 2em;
}

.navlink-container {
  width: 80%;
  display: flex;
  color: white;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; 
  align-items: center;
}

