<h1>Products</h1>

<% if @tag.present? %>
  <h6>
    Showing questions tagged by:
    <span class="badge badge-pill badge-primary">
      <%= @tag.name %>
    </span>
  </h6>
<% end %>

<%= render "product_list" %>